<html>
    <center>
        <h2>LIBERATORIA/AUTORIZZAZIONE PER LA PUBBLICAZIONE DI FOTO E VIDEO</h2>
    </center>
    <br>
    <p align="justify">
        ##sexArticolo## sottoscritt##sexChar## ##surname## ##name## nat##sexChar## a ##placeOfBirth## (##provinceOfBirth##) il ##dateOfBirth##, Codice Fiscale ##fiscalCode##, residente a ##cityLive## (##provinceLive##) - ##addressLive## ##civicNumber##
    <br><br>
    Con riferimento alle immagini (foto e video) scattate e/o riprese da ##operatore##, il giorno ##dateOfRecord## presso ##recordPlace## (##recordPlaceProvince##) in occasione dell'evento: ##occasion##
    <br>
    <br>
    con la presente:
    <br>
    <center>
        <b>AUTORIZZA</b>
    </center>
    <p align="justify">
        A titolo gratuito, senza limiti di tempo, anche ai sensi degli artt. 10 e 320 cod.civ. e degli artt. 96 e 97 legge 22.4.1941, n. 633, Legge sul diritto d’autore, alla pubblicazione e/o diffusione in qualsiasi forma delle
        proprie immagini sul sito internet della Società/Ente <b>##company##</b>, su carta stampata e/o su qualsiasi altro mezzo di diffusione, nonché autorizza la conservazione delle foto e dei video stessi negli archivi informatici della Società/Ente e prende atto che la finalità di tali pubblicazioni sono meramente di carattere informativo ed eventualmente promozionale.
    <br>
        La presente liberatoria/autorizzazione potrà essere revocata in ogni tempo con comunicazione scritta da inviare via posta comune o e-mail.
    </p>
    <p align="left">##currentPlace##, li ##currentDate##</p>
    <p align="right">Firma*: _______________________</p><br>
    <p align="justify">
        <b>Informativa per la pubblicazione dei dati</b>
        <br>
        Informativa ai sensi dell’art. 13 del D. Lgs. n. 196/2003. Si informa che il trattamento dei dati personali,
        informa che i dati personali conferiti con la presente liberatoria saranno trattati con modalità cartacee e
        telematiche nel rispetto della vigente normativa e dei principi di correttezza, liceità, trasparenza e
        riservatezza; in tale ottica i dati forniti, ivi incluso il ritratto contenuto nelle fotografie suindicate,
        verranno utilizzati per le finalità strettamente connesse e strumentali alle attività come indicate nella su
        estesa liberatoria. Il conferimento del consenso al trattamento dei dati personali è facoltativo. In qualsiasi
        momento è possibile esercitare tutti i diritti indicati dall’articolo 7 del D. Lgs. n. 196/2003, in particolare
        la cancellazione, la rettifica o l’integrazione dei dati. Tali diritti potranno essere esercitati inviando
        comunicazione scritta.</p>
</html>
