<html>
    <center>
        <h2>AUTODICHIARAZIONE AI SENSI DEGLI ARTT. 46 E 47 DEL D.P.R. 28 DICEMBRE 2000, N. 445</h2>
    </center>
    <p align="justify">
    ##sexArticolo## sottoscritt##sexChar## ##surname## ##name##, nat##sexChar## il ##dateOfBirth## a ##placeOfBirth## (##provinceOfBirth##), residente in ##cityLive## (##provinceLive##),
     ##addressLive## ##civicNumber##, identificato a mezzo ##identifiedBy## nr. ##documentNumber##, utenza telefonica ##numberPhone##,
    consapevole delle conseguenze penali previste in caso di dichiarazioni mendaci a pubblico ufficiale <b>(art 495 c.p.)</b>
    <br>
    <center>
        <b>DICHIARA SOTTO LA PROPRIA RESPONSABILITÀ</b>
    </center>
    <p align="justify">
    <ul>
        <li>di essere a <b><u>conoscenza delle misure di contenimento del contagio</u></b> di cui al combinato disposto dell'<b>art. 1 del Decreto del Presidente del Consiglio dei Ministri 8 marzo 2020 e dell'art. 1, comma 1, del Decreto del Presidente del Consiglio dei Ministri del 9 marzo 2020</b> concernenti <u><b>lo spostamento delle persone fisiche all'interno di tutto il territorio nazionale;</b></u></li>
        <br>
        <li><b><u>di non essere sottoposto alla misura della quarantena</u></b> e di non essere risultato positivo al virus COVID-19 di cui all'<b>articolo 1, comma 1, lettera c), del Decreto del Presidente del Consiglio dei Ministri dell' 8 marzo 2020;</b></li>
        <br>
        <li><b><u>di essere a conoscenza delle sanzioni previste, dal combinato disposto dell'art. 3, comma 4, del D.L. 23 febbraio 2020, n. 6 e dell'art. 4, comma 2</u></b>, del Decreto del Presidente del Consiglio dei Ministri dell' 8 marzo 2020 <b><u>in caso di inottemperanza delle predette misure di contenimento</u></b> (art. 650 c.p. salvo che il fatto non costituisca
            più grave reato);</li>
        <br>
        <li>Che lo spostamento è determinato da:
        <ul>
            <li>comprovate esigenze lavorative;</li>
            <li>situazioni di necessità;</li>
            <li>motivi di salute;</li>
            <li>rientro presso il proprio domicilio, abitazione o residenza.</li>
        </ul>
    </ul>
    A questo riguardo, dichiara che: ##declaration##.
    <br>
    </p>
    <p align="left">____________, lì ___/___/______ - ore ___:___</p>
    <p style="text-align:left;">
        Firma del dichiarante*: _________________
        <span style="float:right;">
            L'Operatore di Polizia*: __________________
        </span>
    </p>
</html>
