<html>
    <center>
        <h2>AUTODICHIARAZIONE AI SENSI DEGLI ARTT. 46 E 47 DEL D.P.R. 28 DICEMBRE 2000, N. 445</h2>
    </center>
    <p align="justify">
    ##sexArticolo## sottoscritt##sexChar## ##surname## ##name##, nat##sexChar## il ##dateOfBirth## a ##placeOfBirth## (##provinceOfBirth##), residente in ##cityLive## (##provinceLive##),
     ##addressLive## ##civicNumber##, e domiciliato in ##cityDomicilio## (##provinceDomicilio##),##addressDomicilio## ##civicNumberDomicilio##, identificato a 
     mezzo ##identifiedBy## nr. ##documentNumber##, rilasciato da ##documentReleasedBy## in data ##documentReleasedDate##, utenza telefonica ##numberPhone##,
    consapevole delle conseguenze penali previste in caso di dichiarazioni mendaci a pubblico ufficiale <b>(art 495 c.p.)</b>
    <br>
    <center>
        <b>DICHIARA SOTTO LA PROPRIA RESPONSABILITÀ</b>
    </center>
    <p align="justify">
    <ul>
        <li><b>di essere a <u>conoscenza delle misure di contenimento del contagio</u> previste dall'art. 1 del Decreto del Presidente del Consiglio dei Ministri del 11 marzo 2020,
            l'art. 1 del Decreto del Presidente del Consiglio dei Ministri 22 marzo 2020, dall' art. 1 dell' Ordinanza del Ministro della salute 20 Marzo 2020 concernenti <u>le limitazioni alle possibilità
                di spostamento delle persone fisiche all' interno di tutto il territorio nazionale;</u></b></li>
        <br>
        <li><b><u>di non essere sottoposto alla misura della quarantena e di non essere risultato positivo al virus COVID-19</u> di cui all'articolo 1, comma 1, lettera c), 
            del Decreto del Presidente del Consiglio dei Ministri dell' 8 marzo 2020;</b></li>
        <br>
        <li><b><u>di essere a conoscenza delle sanzioni previste, dal combinato disposto dell'art. 3, comma 4, del Decreto Legge 23 febbraio 2020, n. 6 e dell'art. 4, comma 2</u>, 
            del Decreto del Presidente del Consiglio dei Ministri dell' 8 marzo 2020 <u>in caso di inottemperanza delle predette misure di contenimento</u>
            (art. 650 c.p. salvo che il fatto non costituisca più grave reato);</b></li>
        <br>
        <li><b>che lo spostamento è iniziato da ###fromPlace# con destinazione ##toPlace##;</b></li>
        <li>Che lo spostamento è determinato da:
        <ul>
            <li>comprovate esigenze lavorative;</li>
            <li>assoluta urgenza ("per trasferimenti in comune diverso", come previsto dall' art. 1, comma 1, lettera b) del Decreto del Presidente del Consiglio dei Ministri 22 marzo 2020);</li>
            <li>situazioni di necessità(per spostamenti all' interno dello stesso comune, come previsto dall' art. 1, comma 1, lett.a) del Decreto del Presidente del Consiglio dei Ministri 8 marzo 2020
                 e art. 1 del Decreto del Presidente del Consiglio dei Ministri 9 marzo 2020)</li>
            <li>motivi di salute;</li>
        </ul>
    </ul>
    A questo riguardo, dichiara che: ##declaration##.
    <br>
    </p>
    <p align="left">____________, lì ___/___/______ - ore ___:___</p>
    <p style="text-align:left;">
        Firma del dichiarante*: _________________
        <span style="float:right;">
            L'Operatore di Polizia*: __________________
        </span>
    </p>
</html>
