<html>
    <center>
        <h2>AUTOCERTIFICAZIONE DI STATO DI FAMIGLIA</h2>
        <h3>(ai sensi dell'art. 46 del D.P.R. 445 del 28/12/2000)</h3>
    </center>
    <br>
    <p align="justify">
    Il sottoscritto ##name## ##surname## nat##sexChar## a ##placeOfBirth## (##provinceOfBirth##) il ##dateOfBirth##, Codice Fiscale ##fiscalCode##
    <br><br>
    consapevole che in caso di dichiarazione mendace sara' punito ai sensi del Codice Penale secondo quanto prescritto dall'art. 76 del D.P.R. 445/2000 e che, inoltre , qualora dal controllo effettuato emerga la non veridicita' del contenuto di taluna delle dichiarazioni rese, decadra' dai benefici conseguenti al provvedimento eventualmente emanato sulla base della dichiarazione non veritiera (art. 75 D.P.R. 445/2000)
    <br>
    <center>
    <b>DICHIARA</b>
    </center>
    <p align="justify">
    Che la propria famiglia abitante a ##cityLive## (##provinceLive##) indirizzo ##addressLive##, e' cosi' composta:
    <br>
    ##family##
    <br>
    </p>
    <p align="left">##currentPlace##, li ##currentDate##</p>
    <p align="right">Firma*: _______________________</p><br>
    <p align="justify">
    *la firma non deve essere autenticata e la sottoscrizione deve necessariamente avvenire alla presenza dell'impiegato dell'Ente che ha richiesto il certificato; in alternativa puo' venire inoltrata o trasmessa via fax o telematicamente, in tale caso, tuttavia, la dichiarazione deve essere inviata unitamente alla fotocopia non autenticata del documento di identita' del sottoscrittore.
    </p>
</html>
